h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#home {
    color: rgb(212, 99, 118);
    background-color: rgb(126, 177, 140);
}

#recipe {
    color: rgb(129, 39, 54);
    background-color: rgb(223, 87, 110);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}

.description {
    color: rgb(156, 70, 24);
    background-color: rgb(255, 145, 86);
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#time {
    color: rgb(89, 47, 123);
}

#servings {
    color: rgb(183, 0, 104);
}

.ingredients {
    color:rgb(162, 90, 19);
    background-color: rgb(255, 183, 57);
}

.steps {
    color:rgb(125, 121, 46);
    background-color:rgb(255, 248, 120);
}